<table>
	<tbody>
		<tr>
			<td>
				{!$page->_ext_brandLogo->getAsImage()}
			<td>
				<h4>
					{$page->_name}</h4>
				{!$page->_ext_brandPerex}</td>
			<td>
				<a class="button fright" href="{plink Default:default lang => $page->getUrlLang(), url => $page->getUrl()}" style="margin-top:45px">Prohlédnout</a></td>
		</tr>
	</tbody>
</table>
<br />