{block content}
<div class="vd-main clearfix">
        <div class="vd-content gridLayout fleft">
            
            {control loadImagesForm}
            
        </div>
    
</div>



    <div class="vd-popupContainer">
        <div class="vd-popupOverlay"></div>
        <div class="vd-popupWrapper">
            
            
            {snippet #popUp}
                {control popUp}
            {/snippet}
            
        </div>
    </div>
