
{block content}
    Jsem testovací presenter
    
    {snippet #c1}
        {control c1}
    {/snippet}

    <br />
    {snippet #c2}
        {control c2}
    {/snippet}
   
    <br />
    
    <a n:href="setDefaults var1=>hji, var2=>dfd">set defaults</a>