<!-- VIRTUAL DISK -->
<div class="virtual">
    <div class="v_top">Virtuální prostor</div>
    <ul class="v_menu">
        <li><a href="{plink Media:default media-trigger => page}">Virtuální disk</a></li>
        <li><a href="">Galerie</a></li>
    </ul>  

</div>
<!-- / VIRTUAL DISK -->