{block title} <h1>{_"Řazení atributů"} "{$page->_name}" {_"podle tagů"}</h1> {/block}

{block content}
   
    {control chooseParamTagForm}

{/block}

{block #toolbar}
    <a class="save" n:href="params">Zpět na přehled parametrů</a>
{/block}
