<a class="news-box-title" href="{plink Default:default lang => $page->getUrlLang(), url => $page->getUrl()}">{$page->_name}</a>

<p>{$page->_content}</p>
<a href="#" class="button more-link">Přečíst <span>&raquo;</span></a>