    <h4>{$page->_title}</h4>
    
    {!$page->_content}
    
    
    {!$page->_ext_special_project_gallery('carouselGallery')}
    {*!$page->paintGallery($page->_ext_special_project_gallery, 'carouselGallery')*}