properties:
    text:
        type: text
        label: 'Textové pole'
#        name: <name>
#        data:
#            method: <methodName>
#            args: 
#        class:
#        htmlParams:
#            red: blue
#            white: red

    datepicker:
        type: text
        label: 'Kalendář'
        class: 'datepicker'

    textArea:
        type: textArea
        label: 'Víceřádkové textové pole (WYSIWYG)'
        class: wysiwyg

    textAreaSimple:
        type: textArea
        label: 'Víceřádkové textové pole'
        class: notiny

    file:
        type: textArea
        label: 'Soubor'
        class: file


    select:
        type: select
        label: 'Kraje (select)'
        data:
            praha: 'Praha'
            karlovarsky: 'Karlovarský kraj'
            kralovehradecky: 'Královehradecký kraj'
            olomoucky: 'Olomoucký kraj'
            jihomoravsky: 'Jihomoravský kraj'
            slovensko: 'Slovensko'
        prompt: ':: Vyberte kraj ::'
       #required: 'Vyberte kraj'

    selectFlip:
        type: select
        label: 'Varianta flipu'
        data:
            v1: 'Varianta 1'
            v2: 'Varianta 2'
            v3: 'Varianta 3'
            v4: 'Varianta 4'
        prompt: ':: Vyberte typ flipu ::'