<!-- TOOLS -->
<div class="tools">
    <div class="t_top">Nástroje pro web</div>
    <ul class="t_menu">
        {*<li><a href="{plink Acl:default}">{_"Zabezpečení"}</a></li>*}
        <li><a href="{plink User:default}">{_"Uživatelé"}</a></li>
        {*<li><a href="{plink Plugin:management}">{_"Správa pluginů"}</a></li>*}
    </ul>  
</div>
<!-- / TOOLS -->