Drive:
    basePath: '/data'
    defaultStorage: 'file'
    mappingFileName: '.mapping.vd'
    mapping: yes

    storages:
        file: 'files'
        gallery: 'galleries'
        movie: 'movies'
        temp: 'temp'
