<div class="news-item clearfix">
	<span class="news-date">{$page->_ext_news_date}</span>
	<span class="news-title"><a href="{$page->_front_url}">{$page->_title}</a></span>
	<span class="news-perex clearfix">{!$page->_ext_newsPerex}</span>
	<span class="fright"><a href="{$page->_front_url}" class="button">Celá novinka</a></span>

</div>