{!$page->_ext_bigSlide->getAsImage()}
<div class="slide-popup-outer">
    <div class="popup-inner">
        <a href="{$page->_front_url}" class="button big">Prohlédnout <span class="raquo">&raquo;</span></a>
    </div>
</div>
