<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{$page->_lang}" lang="{$page->_lang}">
    <head>
        <link rel="shortcut icon" href="{$basePath}/favicon.ico" />
        <meta http-equiv="Content-Language" content="{$page->_lang}" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="keywords" content="{$page->_meta_keys}" />
        <meta name="description" content="{$page->_meta_description}" />
        <meta name="author" content="www.netstars.cz" />

{block css}
{/block}
        
{block js}
{/block}
        
    <title>{block #title}{/block}</title> 
    
    {block ga}
    {/block}
    </head>

    <body class="{$page->_lang}">
        {block body}
        {/block}
    </body>

</html>