gallery:
    preserveOriginals: yes
    path: 'example_gallery'
    size:
        width:  800
        height: 600
        method: FIT
    thumbnails:
#        small:
#            width: 70
#            height: 100
#            method: CROP
#        medium:
#            width: 300
#            height: 400
#            method: CROP
        small:
            width: 10000
            height: 100
            method: FIT
        medium:
            width: 10000
            height: 180
            method: FIT