<a class="news-box-title" href="{plink Default:default lang => $page->getUrlLang(), url => $page->getUrl()}">{$page->_name}</a>

{!$page->_ext_newsPerex}
<a href="{plink Default:default lang => $page->getUrlLang(), url => $page->getUrl()}" class="button more-link">Přečíst <span>&raquo;</span></a>