
{block content}
    Z webu MaxPraga registrujeme vyplnění formuláře "Napište nám"<br /><br />
    Jméno: {$values[name]}<br />
    Email: {$values[email]}<br />
    Text zprávy: {$values[text]}<br />