structure:
    - files
    - galleries
    - temp

tinyPlaceholderPattern: 'tiny_placeholder_gallery_%d.jpg'

internalThumbnails:
    list:   # vypis souboru
        width: 84
        height: 84
        method: CROP
    detail:   # detail souboru
        width: 250
        height: 250
        method: SHRINK_ONLY
    
    
