{layout '@layout.latte'}
            {block #content}
            <div class="fileManager">
                <h1>{_"Vložit složku"}</h1>
                    {control tinyAddFolderForm}
            </div>
            {/block}
            