{layout '@layout.latte'}
            {block #content}
            <div class="fileManager">
                <h1>{_"Vložit soubor"}</h1>
                    {control tinyAddFileForm}
            </div>
            {/block}
         