<!-- CONFIG -->
<div class="config">
    <div class="con_top">Možnosti</div>
    <ul class="c_menu">
        <li><a href="">Přesměrování</a></li>
        <li><a href="">Správci webu</a></li>
    </ul> 

    <a href="" class="preferences">Nastavení</a> 

</div>
<!-- / CONFIG -->